
<div class="home-container">
  
</div>
<div class="logo-box">
    <img id="ribbon" src="https://media.istockphoto.com/id/1194122907/photo/the-word-denim-printed-on-a-blue-jeans.jpg?s=1024x1024&w=is&k=20&c=OnCLZFBa7y7-emfCGOMMZqMcIp5PUr2b70nqKPzdZCY=" alt="">
</div>

<div class="courosel-box">
  <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="https://images.unsplash.com/photo-1483181957632-8bda974cbc91?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" id="courosel-img" class="d-block w-100" height="310px"  alt="...">
        <div class="carousel-caption d-none d-md-block">
          <h1>50% off </h1>
          <p>Some representative placeholder content for the first slide.</p>
        </div>
      </div>
      <div class="carousel-item">
        <img src="https://images.unsplash.com/photo-1603009135528-7ad60fc1ffe4?q=80&w=1935&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" id="courosel-img" class="d-block w-100" height="310px" alt="...">
        <div class="carousel-caption d-none d-md-block">
          <h1>40% off </h1>
          <p>Some representative placeholder content for the second slide.</p>
        </div>
      </div>
      <div class="carousel-item">
        <img src="https://images.unsplash.com/photo-1589363358751-ab05797e5629?q=80&w=1854&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" id="courosel-img" class="d-block w-100" height="310px" alt="...">
        <div class="carousel-caption d-none d-md-block">
          <h1>70% off </h1>
          <p>Some representative placeholder content for the third slide.</p>
        </div>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
</div>

<div class="text-scroll">
  <div class="container-fluid">
    <div class="horizontal-scrolling-items">
    
      <div class="horizontal-scrolling-items__item fw-bold">
        Discover the latest fashion trends and exclusive offers at unbeatable prices! Shop now.&nbsp;
    </div>
    
    <div class="horizontal-scrolling-items__item fw-bold">
        Explore our new arrivals in clothing, footwear, and accessories for men, women, and kids.&nbsp;
    </div>
    
    </div>
      
    </div>
</div>

<div class="shop-by-cat">
  <h1 class="fw-bold text-center">SHOP BY CATEGORY</h1>
</div>
<app-home-cards></app-home-cards>

<app-footer></app-footer>





